@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit"
}

.ai-text {
  background: linear-gradient(
    90deg,
    #7c3aed,
    #a855f7,
    #ec4899,
    #a855f7,
    #7c3aed
  );
  background-size: 300% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradientText 2s linear infinite;
}

@keyframes gradientText {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}

